.Settings {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FACACF;
    padding: 10vh 10vw;
    gap: 1rem;
}

.settings-header {
    font-size: 2rem;
    margin-bottom: 10px;
}

.settings-selector {
  display: flex;
  flex-direction: row;
}

.settings-selector-item {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.settings-selector-item:hover {
  background-color: #cfa6ab;
}

.settings-selector-item-active {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #f5d7d9;
}

.settings-selector > *:nth-child(1) {
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.settings-selector > *:nth-child(3) {
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.logout {
  padding: 0.5rem 1rem;
  width: 40%;
  border-radius: 8px;
  background-color: #48284A;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .logout {
      width: 100%;
  }
}

.logout:hover {
  background-color: #3b1c3e;
}