.Login {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FACACF;
    padding: 10vh 10vw;
    gap: 1rem;
}

.login-header {
    font-size: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .login-form {
        width: 100%;
    }
}

.login-form-row {
    position: relative;
}

.login-form-row:nth-child(2) {
    margin-bottom: 1rem;
}

.login-form-input {
    width: 100%;
    padding: 16px 10px 8px 10px;
    border: 1px solid #595959;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: #FACACF;
    position: relative;
}

.login-form-input:focus,
.login-form-input:active {
    outline: none;
    border: 1px solid #000000;
}

.login-form-label {
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0 0.2rem;

    position: absolute;
    pointer-events: none;
    top: calc((16px + 8px + 1rem)/2); /* Top, bottom padding + font size divided by two to center vert*/
    left: 10px;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    transform: translateY(-50%);
    color: #595959;
    background-color: #FACACF;
}


.login-form-input:focus + .login-form-label,
.login-form-input:active + .login-form-label,
.login-form-input:not(:placeholder-shown) + .login-form-label {
    top: 0px;
    font-size: 0.7rem;
    color: #000000;
}

.login-form-submit {
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #48284A;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.login-form-submit:hover {
    background-color: #3b1c3e;
}

.login-form-submit-icon {
    height: 1em;
    width: 5em;
}